<launch>
  <!-- initial launch file to get the rosserial node running on local bot board -->
  <node pkg="rosserial_server" type="serial_node" name="rosserial_server">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="115200"/>
  </node>

  <!-- differential_teleop_key already has its own built in velocity smoother -->
  <node pkg="baymax_mini_control" type="diff_wheeled_robot_key" name="diff_wheeled_robot_key"  output="screen">

    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <remap from="turtlebot_teleop_keyboard/cmd_vel" to="/cmd_vel"/> 

  </node>
</launch>
